*{
    margin: 0;
    padding: 0;
}
/* ---------Navigation bar css */
#nav-bar{
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar-brand img{
    height: 40px;
    padding-left: 30px;
}

.navbar-nav li {
    padding: 0 10px;
}


.navbar-nav li a {
    float: right;
    text-align: left;
}

#nav-bar ul li a:hover {
    color: #007bff!important;
}

.navbar {
    background: #fff;
}

.nav-link {
    color: #fff!important;
    font-weight: 600;
    font-size: 16px;
}

/* -------slider------ */

#slider{
    width: 100%;
}